body {
    background-image: url(background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
}
.header {
    background: transparent;
    padding-top: 20px;

}
.main {
    padding-right: 1000px;
}
.list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    font-size: 20px;
    color: white;
    font-weight: bold;

}
.content {
    width: 600px;
    color: rgb(255, 243, 243);
    padding-top: 200px;
    font-size: 60px;
    margin-left: 400px;

}
.btn {
    margin-left: 10px;
}
.grid {
    padding: 130px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    
}
.grid {
    display: grid;
    column-gap: 50px;
    row-gap: 50px;  
    grid-template-columns: 1fr 1fr 1fr; 

}
.one {
    background-color: white;  
    
}
.two {
    background-color: white;
}
.three {
    background-color: white;
}