#button1 {
    color: white;
    background-color: black;
    font-size: 28px;
    font-family: "times new rawman", sans-serif

}
#button2 {
    background-color: yellow;
    color: black;
    font-size: 28px;
    font-family: "Helvetica", sans-serif
}
