.para {
  color: hsl(0, 100%, 50%);
  font-weight: bold;
  font-size: 22px;
}

.small-para {
  font-size: 14px;
}



.button.confirm {
  background-color: green;
  color: white;
  font-size: 20px;
} 

.button.cancel {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 20px;
}

.text.child {
  color: red;
  font-size: 14px;
}

.text {
    color: green;
    font-size: 22px;
}